<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!--    <include file="$(find plannar_mover)/launch/spawn_robot_urdf.launch"> -->
    <include file="$(find plannar_mover)/launch/spawn_robot_sdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.025" />
     <!--   <arg name="urdf_robot_file" value="$(find plannar_mover)/urdf/plannar_mover.urdf" /> -->
        <arg name="sdf_robot_file" value="$(find plannar_mover)/models/precession.sdf" />
        <arg name="robot_name" value="precession" />
    </include>
</launch>
